@media only screen and (min-width: 768px) and (max-width: 1023px) {

  .main-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    .card {
      width: 60%;
    }
  }
}