@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;500;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 1em;
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: hsl(210, 46%, 95%);
}

.main-container {
  padding: 1em 0 1em 0;
  margin: 1em 0 2em 0;

  .card {
    border-radius: 8px;
    padding: 2em;
    margin-top: 2em;

    .card-header {
      display: flex;
      align-items: center;

      img {
        border-radius: 50%;
        width: 2.5em;
      }

      .header-text {
        padding-left: 1em;

        .name {
          font-weight: 300;
        }

        .graduate {
          display: block;
          opacity: 50%;
        }
      }


    }

    .big-text {
      margin: 1em 1.85em 1em 0;
    }

    .testimonial {
      font-weight: 300;
      opacity: 70%;
      margin-bottom: .5em;
    }
  }

  .daniel {
    background: url('/images/bg-pattern-quotation.svg') no-repeat 90% 0%;
    background-color: hsl(263, 55%, 52%);
    color: white;
  }

  .jonathan {
    background-color: hsl(217, 19%, 35%);
    color: white;
  }

  .jeanette {
    background-color: white;
    color: hsl(217, 19%, 35%);
  }

  .patrick {
    background-color: hsl(219, 29%, 14%);
    color: white;
  }

  .kira {
    background-color: white;
    color: hsl(217, 19%, 35%);
  }
}

@import 'tablet';
@import 'desktop';